# Data Science Tools and Ecosystem
**Exercise 2**: Create a markdown cell with the title of the notebook.

## Introduction
**Exercise 3**: In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages
**Exercise 4**: Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia

## Data Science Libraries
**Exercise 5**: Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools
**Exercise 6**: Below is a table of Data Science tools.

| Tool | Category |
|------|----------|
| Jupyter Notebook | IDE |
| RStudio | IDE |
| Apache Spark | Big Data Processing |
| TensorFlow | Machine Learning |
| Tableau | Data Visualization |

## Arithmetic Expression Examples
**Exercise 7**: This section shows examples of evaluating arithmetic expressions in Python.

In [ ]:
# Exercise 8
# Multiply and add numbers
(3*4)+5

In [ ]:
# Exercise 9
# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours

## Objectives
**Exercise 10**: In this notebook, you will learn:
- Popular languages used in Data Science
- Common libraries in Data Science
- Data Science tools
- Examples of evaluating arithmetic expressions
- Conversion of units using Python code

## Author
**Exercise 11**: Author: **Đăng Vũ**

## Share on GitHub
**Exercise 12**: This notebook should be uploaded to GitHub and the public link shared.

## Screenshot
**Exercise 13**: A screenshot of the first page of the notebook (title + intro) should be taken and uploaded as part of the submission.